body {
  font-family: 'Open Sans', sans-serif;
}

.Header {
  padding: 0 10%;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #1B3C59;
  background: #F2F2F0;
  align-items: center;
}

.Header .Header-logo {
  width: 70px;
  height: 70px;
}

.Header h1 {
  font-size: 26px;
  color: #1B3C59;
  flex: 1;
}

.Link {
  background: #11BFAE;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  padding: 27px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 50px 10%;
}

.List {
  background: #F2F2F0;
  border-radius: 10px;
  width: 40%;
  padding: 1.5rem 2rem 2.5rem 2rem;
}

.List h1 {
  color: #1B3C59;
  font-weight: normal;
  font-size: 28px;
}

.List h1 span {
  color: #FD5959;
  text-transform: uppercase;
}

.List article {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #1B3C59;
  padding: 0 5px;
}

.List article:hover {
  background: #ffffff;
}

.List article span {
  color: #11BFAE;
  font-weight: bold;
  margin-right: 10px;
}

.List article h2 {
  color: #1B3C59;
  font-size: 22px;
  font-weight: normal;
  flex: 1;
}

.List article img {
  width: 30px;
  height: 30px;
}

.List article img:hover {
  cursor: pointer;
}
